<div>

    <!-- <p-skeleton width="10rem" styleClass="mb-2 h-2rem"></p-skeleton> -->

    <div class="border-round border-1 surface-border p-4 surface-card">

        <ul class="m-0 p-0 list-none">

            <li class="mb-3">

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>

            <!-- <p-skeleton width="9rem" height="3rem" borderRadius="16px"></p-skeleton> -->

            <li class="mb-3">

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>

            <li class="mb-3">

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>

            <li class="mb-3">

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>

            <li class="mb-3">

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>

            <li>

                <div class="flex">

                    <div style="flex: 1">

                        <p-skeleton width="100%" styleClass="mb-2 h-3rem"></p-skeleton>

                    </div>

                </div>

            </li>




        </ul>

    </div>

</div>