<div class="talent-profile-wrapper">
    <div class="talent-details-left">
        <div class="card flex justify-content-between align-items-center profile-view">
            <div style="width: 60%;">
                <p-skeleton shape="circle" size="10rem" styleClass="mr-2"></p-skeleton>
            </div>
            <div class="ml-3" style="width:100%;">
                <p-skeleton width="80%" height="3rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="80%" height=".5rem" height="1rem"></p-skeleton><br>
                <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>
        </div>
        <div class="card card1">
            <div class="flex align-items-center" style="width: 40%;">
                <p-skeleton width="13rem" height="2rem"></p-skeleton>
            </div>
            <hr>
            <table style="width: 100%;">
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card card1">
            <div class="flex align-items-center" style="width: 40%;">
                <p-skeleton width="13rem" height="2rem"></p-skeleton>
            </div>
            <hr>
            <table style="width: 100%;">
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="100%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="talent-details-right mt-1">
        <div class="card card1">
            <div class="flex align-items-center" style="width: 40%;">
                <p-skeleton width="13rem" height="2rem"></p-skeleton>
            </div>
            <hr>
            <table style="width: 100%;">
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card card1">
            <div class="flex align-items-center" style="width: 40%;">
                <p-skeleton width="13rem" height="2rem"></p-skeleton>
            </div>
            <hr>
            <table style="width: 100%;">
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card card1">
            <div class="flex align-items-center" style="width: 40%;">
                <p-skeleton width="13rem" height="2rem"></p-skeleton>
            </div>
            <hr>
            <table style="width: 100%;">
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
                <tr>
                    <td styleClass="flex"><p-skeleton width="90%" height="1.5rem"></p-skeleton>
                    </td>
                    <td>
                        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>