<div class="flex gap-3 align-items-center text-5xl mb-4 font-bold">
    <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-outlined"
        (click)="location.back()"></button>{{'Edit Profile' | translate}}
</div>

<div class="card" *ngIf="isLoading == false">
    <div class="grid p-fluid">

        <div class="col-12 mx-auto p-4">

            <form [formGroup]="signUpForms[0]">
                <div class="mb-5 text-2xl">
                    {{'Personal Details' | translate}}
                </div>
                <div class="">
                    <div class="p-float-label my-2">
                        <input id="name" type="text" formControlName="name" pInputText>
                        <label for="name">{{'Full Name' | translate}}*</label>
                    </div>
                </div>

                <div class="grid mt-5">
                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <div class="p-float-label">
                            <input id="age" type="number" formControlName="age" min="14" max="60" pInputText>
                            <label for="age">{{'Age' | translate}}*</label>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.genders" placeholder="Gender"
                                formControlName="gender" [filter]="false"></p-dropdown>
                            <label for="p-float-label">{{'Gender' | translate}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.countries" placeholder="Country"
                                formControlName="countryName" [filter]="false"></p-dropdown>
                            <label for="p-float-label">{{'Country' | translate}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <span class="p-float-label">
                            <p-multiSelect appendTo="body"  styleClass="p-float-label" [options]="talentFormService.languages"
                                formControlName="knownLanguages" placeholder="Language" [filter]="false"
                                class="multiselect-custom">
                                <ng-template let-language pTemplate="item">
                                    <div class="flex align-items-center">
                                        <span class="ml-2">{{language.label}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                            <label for="p-float-label">{{'Languages' | translate}}*</label>
                        </span>
                    </div>
                </div>
            </form>

            <!-- Step 2 -->
            <form [formGroup]="signUpForms[1]">
                <div class="my-5 text-2xl">
                    {{'Professional Details' | translate}}
                </div>

                <div class="grid my-2">
                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.signUpFormBuildingData.currentProfessionalStatus"
                                placeholder="Professinal Status"
                                formControlName="currentProfessionalStatus"></p-dropdown>
                            <label for="p-float-label">{{'Professinal Status'}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.signUpFormBuildingData.industryType"
                                placeholder="Type of Industry" formControlName="industryType"></p-dropdown>
                            <label for="p-float-label">{{'Type of Industry' | translate}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <div class="p-float-label">
                            <input id="experience" type="number" formControlName="yearOfExperience" min="0" max="60"
                                pInputText>
                            <label for="experience">{{'Years of Experience' | translate}}*</label>
                        </div>
                    </div>

                </div>

                <div class="grid my-2">
                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <div class="p-float-label my-2">
                            <input id="currentEmployer" type="text" formControlName="currentEmployerName" pInputText>
                            <label for="currentEmployer">{{'Current Employer' | translate}}*</label>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <div class="p-float-label my-2">
                            <input id="linkedinProfile" type="url" formControlName="linkedInProfileLink" pInputText>
                            <label for="linkedinProfile">{{'LinkedIn Profile'}}*</label>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <div class="p-float-label my-2">
                            <input id="recordedVideo" type="url" formControlName="recordedVideoLink" pInputText>
                            <label for="recordedVideo">{{'Recorded Video Link' | translate}}*</label>
                        </div>
                    </div>
                </div>


                <div class="grid my-2">
                    <div class="col-12 mb-2 lg:mb-0">
                        <span class="p-float-label">
                            <p-multiSelect appendTo="body"  styleClass="p-float-label" display="chip"
                                [options]="talentFormService.signUpFormBuildingData.skills" formControlName="skills"
                                [filter]="false" placeholder="Skills" [showClear]="true" class="multiselect-custom">
                                <ng-template let-skill pTemplate="item">
                                    <div class="flex align-items-center">
                                        <span class="ml-2">{{skill.label}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                            <label for="p-float-label">{{'Skills' | translate}}*</label>
                        </span>
                    </div>
                </div>


                <div class="grid my-2">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.signUpFormBuildingData.experienceInIT"
                                placeholder="Experience in IT" formControlName="experienceInIT"
                                [filter]="false"></p-dropdown>
                            <label for="p-float-label">{{'Experience in IT' | translate}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-6 lg:mb-0 text-center">
                        Experience Level: {{talentFormService.experienceLevel}}
                        <input type="text" style="display: none;">
                        <br>
                        <br>
                        <p-slider [step]="20" class="my-2" formControlName="experienceLevel"
                            (onChange)="talentFormService.setExperienceLevel($event)"></p-slider>
                        <div class="my-3 flex w-full" style="justify-content: space-between;">
                            <div>0</div>
                            <div>0 = Not Good and 5 = Excellent</div>
                            <div>5</div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Step 3 -->
            <form [formGroup]="signUpForms[2]">
                <div class="my-5 text-2xl">
                    {{'Educational Details' | translate}}
                </div>
                <ng-template matStepLabel>{{'Educational Details' | translate}}</ng-template>
                <div>

                    <div *ngFor="let c of talentFormService.eduControls; let i=index">

                        <div class="grid my-2 card">
                            <div class="col-12 mb-2 lg:col-4 lg:mb-0" [formGroup]="talentFormService.eduControls[i]">
                                <span class="p-float-label">
                                    <p-dropdown appendTo="body"  [options]="talentFormService.nameOfDegree" placeholder="Degree"
                                        [filter]="false" formControlName="nameOfDegree"></p-dropdown>
                                    <label for="p-float-label">{{'Degree' | translate}}*</label>
                                </span>
                            </div>

                            <div class="col-12 mb-2 lg:col-4 lg:mb-0" [formGroup]="talentFormService.eduControls[i]">
                                <span class="p-float-label">
                                    <p-dropdown appendTo="body"  [options]="talentFormService.nameOfUniversity" placeholder="University"
                                        [filter]="false" formControlName="nameOfUniversity"></p-dropdown>
                                    <label for="p-float-label">{{'University' | translate}}*</label>
                                </span>
                            </div>


                            <div class="col-12 mb-2 lg:col-3 lg:mb-0" [formGroup]="talentFormService.eduControls[i]">
                                <div class="p-float-label">
                                    <input id="yearOfPassing" type="number" formControlName="yearOfPassing" pInputText>
                                    <label for="yearOfPassing">{{'Year of Passing' | translate}}*</label>
                                </div>
                            </div>
                            <div class="col-12 mb-2 lg:col-1 lg:mb-0">
                                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"
                                    (onClick)="talentFormService.removeEducationalField(i)"></p-button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p-button icon="pi pi-plus" styleClass="p-button-rounded" [disabled]="signUpForms[2].invalid"
                            (onClick)="talentFormService.addEducationalField()"></p-button>
                    </div>

                </div>
            </form>

            <!-- Step 4 -->
            <form [formGroup]="signUpForms[3]">
                <div class="my-5 text-2xl">
                    Expectations
                </div>

                <div class="grid my-2">
                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.signUpFormBuildingData.fieldSpecialization"
                                [filter]="false" placeholder="Field Specialization"
                                formControlName="fieldSpecialization"></p-dropdown>
                            <label for="p-float-label">Field Specialization*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body"  [options]="talentFormService.skillSpecialization" [filter]="false"
                                placeholder="Skill Specialization" formControlName="skillSpecialization"></p-dropdown>
                            <label for="p-float-label">{{'Skill Specialization' | translate}}*</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-4 lg:mb-0 flex align-items-center">
                        <span class="mx-2">{{'Profile' | translate}}:</span>
                        <input type="file" name="profileImageUpload" id="profileImageUpload" accept=".png, .jpeg, .jpg, gif" 
                            (change)="talentFormService.onProfilePictureUpload($event)" #profileImageUpload
                            style="display: none;">
                        <div class="mx-2" *ngIf="talentFormService.profileImageLink == ''">
                            <p-button label="{{'Upload' | translate}}" (onClick)="profileImageUpload.click()" icon="pi pi-plus"
                                [loading]="talentFormService.isProfileUploading"></p-button>
                            <p-progressBar mode="determinate" [style]="{height: '6px'}" [showValue]="false"
                                *ngIf="talentFormService.isProfileUploading == true"
                                [value]="talentFormService.profileImageProgressStatus"></p-progressBar>
                        </div>
                        <div class="" *ngIf="talentFormService.profileImageLink != ''">
                            <span class="p-input-icon-right ml-auto">
                                <i class="pi pi-times cursor-pointer"
                                    (click)="talentFormService.removeProfilePicture()"></i>
                                <input pInputText #searchInput type="text" [readOnly]="true"
                                    [value]="talentFormService.profileImageLink" />
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Navigation buttons -->
            <div class="flex justify-content-center mt-5">
                <p-button label="{{'Update' | translate}}" styleClass="primary" (onClick)="talentFormService.finalSubmission()"
                    [disabled]="signUpForms[0].invalid || signUpForms[1].invalid || signUpForms[2].invalid|| signUpForms[3].invalid"></p-button>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="isLoading == true">
    <shared-form-skeleton></shared-form-skeleton>
</div>