<div>

    <div class="col-12"> <p-skeleton height="3rem" styleClass="mt-6"></p-skeleton> </div>
    <div class="flex">
        <div class="col-12 lg:col-6 xl:col-3" *ngFor="let x of [].constructor(4)">
            <p-skeleton height="3rem" styleClass="mt-3"></p-skeleton>
        </div>
    </div>
    <div class="flex" *ngFor="let x of [].constructor(2);">
        <div class="col-12 lg:col-6 xl:col-4" *ngFor="let x of [].constructor(3)"> <p-skeleton height="3rem"
                styleClass="mt-3"></p-skeleton> </div>
    </div>
    <div class="col-12"> <p-skeleton height="3rem" styleClass="mt-6"></p-skeleton> </div>
    <div class="flex">
        <div class="col-12 lg:col-6" *ngFor="let x of [].constructor(2);"> <p-skeleton height="3rem"
                styleClass="mt-3"></p-skeleton> </div>
    </div>
    <div class="col-12 align-items-center">
        <p-skeleton width="6rem" height="3rem"></p-skeleton>
    </div>

</div>